@page "/"
@using Clud.Grpc
@inject Applications.ApplicationsClient ApplicationsClient

<div class="w-full flex flex-col items-center justify-center">
    @if (applicationsResponse != null)
    {
        @foreach (var application in applicationsResponse.Applications.OrderByDescending(a => a.LastUpdatedTime))
        {
            <ApplicationCard Application=@application />
        }
    }
    else
    {
        <LoadingSpinner />
    }
</div>

@code {
    private ListApplicationsResponse applicationsResponse;

    protected override async Task OnInitializedAsync()
    {
        applicationsResponse = await ApplicationsClient.ListApplicationsAsync(new ListApplicationsRequest());
    }
}