<div class="px-2 pb-1 text-xs font-semibold rounded-full inline-flex justify-center items-center @Class">@ChildContent</div>

@code {
  [Parameter]
  public RenderFragment ChildContent { get; set; }

  [Parameter]
  public BadgeColour Colour { get; set; }

  public string Class =>
    Colour switch
    {
      BadgeColour.Red => "bg-red-200 text-red-800",
      BadgeColour.Green => "bg-green-200 text-green-800",
      BadgeColour.Teal => "bg-teal-200 text-teal-800",
      _ => throw new InvalidOperationException($"Unrecognised colour: {Colour}")
      };
}