@inherits LayoutComponentBase

<div class="bg-gray-300 min-h-screen min-w-screen text-gray-900">
    <div class="clud-container mx-auto p-4">
        <div class="flex flex-col items-center py-4">
            <a href="/" class="font-semibold text-3xl tracking-tight text-teal-900 hover:text-teal-600">☁ Clud</a>
            <div class="my-3 text-gray-600 text-center">One-click infrastructure and deployments</div>
            <div class="flex">
                <a href="https://github.com/CharlesRea/clud" class="block mt-4 lg:inline-block lg:mt-0 text-teal-800 hover:text-teal-600 text-xl mr-4">
                    Docs
                </a>
                <a href="https://github.com/CharlesRea/clud" class="block mt-4 lg:inline-block lg:mt-0 text-teal-800 hover:text-teal-600 text-xl">
                    Github
                </a>
            </div>
        </div>
        <div class="flex items-center justify-center">
            @Body
        </div>
    </div>
</div>
