@inherits LayoutComponentBase

<div class="mx-auto bg-blue-100 min-h-screen flex items-center justify-center p-10">
    <div class="flex items-center justify-center">
        @Body
    </div>
</div>

