@import "tailwindcss/base";

th {
    font-weight: 400;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer components {
    .link {
        @apply uppercase tracking-widest text-sm;
    }

    .link-secondary {
        @apply text-secondary-300 hover:text-secondary-100
    }

    .link-grey {
        @apply text-gray-300 hover:text-secondary-100
    }
}

.container-sm {
    width: 100%;
    max-width: 900px;
}

.container-md {
    width: 100%;
    max-width: 1200px;
}
