@page "/"
@using Clud.Grpc
@inject Applications.ApplicationsClient ApplicationsClient

<div class="w-full flex flex-col items-center justify-center">
    <h1>Clud.</h1>

    @if (applicationsResponse != null)
    {
        <h2>Applications:</h2>
        <ul>

        @foreach (var application in applicationsResponse.Applications)
        {
            <li>@application.Name</li>
        }
        </ul>
    }
</div>

@code {
    private ListApplicationsResponse applicationsResponse;

    protected override async Task OnInitializedAsync()
    {
        applicationsResponse = await ApplicationsClient.ListApplicationsAsync(new ListApplicationsRequest());
    }
}