<div class="flex flex-col items-center py-4">
    <a href="/" class="font-semibold text-4xl tracking-tight text-blue-300 hover:text-blue-500 text-center">
        <img src="/logo.svg" alt="Clud" style="height: 80px" class="mb-2" />
        <pre>clud</pre>
    </a>
    <div class="mb-8 text-gray-300 text-center text-sm font-semibold">The Ghyston cloud</div>
    <section class="flex flex-col items-center text-center text-xl max-w-xl mb-8">
        <p class="pb-6 leading-normal">
            Easy deployment for your apps and side projects by running <code class="font-mono font-bold tracking-tight text-gray-100">clud deploy</code>. Out-the-box support for common frameworks & databases, or custom deployments using a Dockerfile.
        </p>
        <div class="flex">
            <a href="https://github.com/CharlesRea/clud" class="flex hover:text-blue-500 items-center text-blue-300 text-xl">
                Documentation
                <svg class="w-5 h-5 mt-1 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
            </a>
            <a href="https://github.com/CharlesRea/clud" class="flex hover:text-blue-500 items-center text-blue-300 text-xl ml-8">
                Github
                <svg class="w-5 h-5 mt-1 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
            </a>
        </div>
    </section>
</div>